<div class="panel panel-default" id="<%= @question.id %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @question.order %>. <%= @question.description %></h3>
  </div>
  <ul class="list-group answers">
    
  </ul>
</div>

<!-- <li class="list-group-item">Cras justo odio</li> -->