<script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      // Create the data table.
      var data = new google.visualization.arrayToDataTable([
      <$ @question.answers.each do |answer| $>
        data.addRow(['<$ answer.order $>', <$ answer.polls.count $>, '#b87333'])
      <$ end $>]);

      // Set chart options
      var options = {legend:{position: 'none'},
      bar: {groupWidth: "95%"},
      'width':600,
      'height':500};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
</script>
<div class="container-fluid">
  <div class="row text-center" style="padding-left: 50px; padding-bottom: 0; padding-right: 50px; padding-top: 0;">
    <div class="col-md-3"></div>

    <div class="col-md-6">
<% if user_signed_in? %>

  <%# if current_user.id == @room.user_id %>
    <!--something for admins-->
  <%# end %>

  <h3>Question <%= @question.order %></h3>

  <div id="chart_div" style="width:100%;"></div>

<% end %>
</div>
    <div class="col-md-"></div>
    </div>
  </div>
</div>