<h4>Questions <button class="btn" id="newQuestion">+</button></h4>

<form class="form-group" id="questionForm" style="display: none;" action="/questions">
    <input name="question[room_id]" type="hidden" value="<%= @room.id %>" />
    <div class="form-row">
      <input name="question[description]" placeholder="Description"/>
    </div>
    <div class="form-row">
      <input name="question[order]" type="integer" value="0" />
    </div>
    <div class="form-row">
      <input type="submit" class="btn" id="submitQuestion"></input>
    </div>
</form>  