<h3>Room</h3>
<p>Name: <%= @room.name if @room.name %></p>

<% if user_signed_in? %>
	<% if current_user.id == @room.user_id %>
		<%= render 'rooms/add_room', room: @room %>
	<% end %>

  <ul id="questions">
    <% if @questions %>
      <% @questions.each do |question| %>
        <li><%= question.order %>: <%= question.description %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>