<h3>Room <%= @room.name %></h3>


<% if user_signed_in? %>
	<% if current_user.id == @room.user_id %>
    <div class="btn btn-primary pull-right">Present</div>
		<%= render 'rooms/add_room', room: @room %>
	<% end %>

  <div id="questions" class="col-md-6">
    <% if @questions %>
      <% @questions.each do |question| %>
        <%= render 'questions/question', question: question %>
      <% end %>
    <% end %>
  </div>
<% end %>