<h3>Room</h3>
<p>Name: <%= @room.name if @room.name %></p>

<% if user_signed_in? %>
	<% if current_user.id == @room.user_id %>
		<%= render 'rooms/add_room', room: @room %>
	<% end %>

  <div id="questions" class="col-md-6">
    <% if @questions %>
      <% @questions.each do |question| %>
        <%= render 'questions/question', question: question %>
      <% end %>
    <% end %>
  </div>
<% end %>